@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2 rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
    height: 90px;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 200px;
        height: 40px;
        padding-left: 20px;
        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0rem 1rem;
        cursor: pointer;
        flex-direction: column;

        div {

            width: 5px;
            height: 1px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        a {
            position: relative;
            display: block;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 10px 20px;
            text-decoration: none;
            color: #262626;
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 600;
            transition: .5s;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top: 2px solid #262626;
                border-bottom: 2px solid #262626;
                transform: scaleY(2);
                opacity: 0;
                transition: .3s;
            }

            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #262626;
                transform: scale(0);
                opacity: 0;
                transition: .3s;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    transform: scaleY(1);
                    opacity: 1;
                }

                &:after {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }
    }

    // li {
    //     margin: 0rem 1rem;
    //     cursor: pointer;
    //     flex-direction: column;

    //     div {

    //         width: 5px;
    //         height: 5px;
    //         background: transparent;
    //         border-radius: 50%;
    //         margin-bottom: 5px;
    //     }

    //     a {
    //         color: var(--secondary-color);
    //         position: relative;
    //         display: inline-block;
    //         text-decoration: none;
    //         flex-direction: column;
    //         text-transform: uppercase;
    //         font-weight: 500;
    //         overflow: hidden;
    //         outline: 2px solid #5149c2;
    //         border-radius: 30px;
    //         transition: color 1s;
    //         padding: 7px 15px;

    //         &:hover {
    //             color: rgb(13, 11, 14);
    //         }
    //         &::before{
    //             content: "";
    //             position: absolute;
    //             top: 0;
    //             left: -50px;
    //             z-index: -1;
    //             width: 150%;
    //             height: 100%;
    //             background-color: #498cc2;
    //             transform: scaleX(0) skewX(35deg);
    //             transform-origin: left;
    //             transition: transform 1s;
    //         }
    //         &:hover::before
    //         {
    //             transform: scaleX(1) skewX(35deg);
    //         }
    //     }


    // }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 60%;
    position: relative;
   text-align: center;
   justify-content: center;
//    padding-top: 10px;
    background: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        //  padding-top: 20%;
        // padding-left: 20%;

        color:rgb(248, 245, 245);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background: url(../../assets/bgWhite.png);
        background-color: var(--white-color);
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            li {
                margin: 1rem;

                a {
                    color: var(--grey-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: transform .3s;
                    background-color: transparent;
                    margin: 0 auto;

                    &:hover {
                         
                        color: rgb(116, 125, 125);
                    }

                    &::before {
                        color: rgb(80, 62, 142);
                        transform: scaleX(0) skewX(35deg);
                        transform-origin: left;
                        transition: transform 1s;
                    }
                }


            }
        }

        @media screen and (min-width:900px) {
            display: none;

        }
    }

    @media screen and (min-width:900px) {
        display: none;
    }
}